NEXT_PUBLIC_SUPABASE_URL=https://tthgwnvyuqgdzaxkzxdv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR0aGd3bnZ5dXFnZHpheGt6eGR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4OTYwMTAsImV4cCI6MjA5NTQ3MjAxMH0.Me42XrMwjQ-M6tjTaZEmgZymVny1oZvuGh6Exx0G8og